{% include 'header.html' %}
<div class="row">
    <!--Nav Bar -->

    <nav class="col-xs-3 bs-docs-sidebar">
        <ul id="sidebar" class="nav nav-stacked">

        {% for group in orders|groupby('BORSA') %}
        <li>
          <a href="#{{ group.grouper }}">{{ group.grouper }}</a>
          <ul class="nav nav-stacked">
            {% for altgroup in group.list|groupby('MARKET') %}

                <li><a href="#{{ group.grouper }}_{{ altgroup.grouper }}">{{ altgroup.grouper }}</a>
                    <ul class="nav nav-stacked">
                        <li><a href="#{{ group.grouper }}_{{ altgroup.grouper }}_buy"> - Alım</a></li>
                        <li><a href="#{{ group.grouper }}_{{ altgroup.grouper }}_sell"> - Satım</a></li>
                    </ul>
                </li>
                
            {% endfor %}
          </ul>
        </li>
        {% endfor %}

        </ul>
    </nav>
    <!--Main Content -->
    <div class="col-xs-9">
        
        {% for group in orders|groupby('BORSA') %}
                
        <section id="{{ group.grouper }}" class="group">
                <h3>{{ group.grouper }}</h3>
            
              
            {% for altgroup in group.list|groupby('MARKET') %}
            <div id="{{ group.grouper }}_{{ altgroup.grouper }}" class="subgroup clearfix">
            <h4>{{ altgroup.grouper }}</h4>
            <hr>
                <div class="clearfix">   
                
                    <div id="{{ group.grouper }}_{{ altgroup.grouper }}_buy" class="subsubgroup">
                        <h4>Alım</h4>
                        <table class="table table-sm">
                            <thead>
                              <tr>
                                <th scope="col">Tarih</th>
                                <th scope="col">Miktarı</th>
                                <th scope="col">Kazanç Oranı</th>
                                <th scope="col">Kalan Tekrar</th>
                                <th scope="col">Fiyatı</th>
                                <th scope="col">İşlem</th>
                              </tr>
                            </thead>
                            <tbody>
                        {% for person in altgroup.list|sort(attribute='BUY_PRICE') %}
                            {% if person.STATUS == "Alim_emri_verildi" or person.STATUS == "ikincil_alim_emri_verildi" %}
                                  <tr>
                                    <th scope="row">{{ person.TIME }} </th>
                                    <td>{{ "%.4f"|format(person.BUY_AMOUNT) }}</td>
                                    <td>{{ "%.1f"|format(person.KAZANC_ORANI) }}</td> 
                                    <td>{{ person.TEKRAR }}</td>
                                    <td>{{ "%.8f"|format(person.BUY_PRICE) }}</td> 
                                    <td><a href="#"  onClick="MyWindow=window.open('/detay/{{person.NUMBER}}','MyWindow','width=600,height=300'); return false;"  class="btn btn-danger">Detay</a></td>
                                  </tr>
                            {% endif %}
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
        
                    <div id="{{ group.grouper }}_{{ altgroup.grouper }}_sell" class="subsubgroup">
                        <h4>Satım</h4>
                        <table class="table table-sm">
                            <thead>
                              <tr>
                                <th scope="col">Tarih</th>
                                <th scope="col">Miktarı</th>
                                <th scope="col">Kazanç Oranı</th>
                                <th scope="col">Kalan Tekrar</th>
                                <th scope="col">Fiyatı</th>
                                <th scope="col">İşlem</th>
                              </tr>
                            </thead>
                            <tbody>
                        {% for person in altgroup.list|sort(attribute='SELL_PRICE') %}
                            {% if person.STATUS == "Satim_emri_verildi" or person.STATUS == "ikincil_satim_emri_verildi" %}
                            <tr>
                                <th scope="row">{{ person.TIME }} </th>
                                <td>{{ "%.4f"|format(person.SELL_AMOUNT) }}</td>
                                <td>{{ "%.1f"|format(person.KAZANC_ORANI) }}</td> 
                                <td>{{ person.TEKRAR }}</td>
                                <td>{{ "%.8f"|format(person.SELL_PRICE) }}</td>
                                <td><a href="#"  onClick="MyWindow=window.open('/detay/{{person.NUMBER}}','MyWindow','width=600,height=300'); return false;"  class="btn btn-danger">Detay</a></td>
                              </tr>  
                            {% endif %}
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                
                </div>
            </div>
            {% endfor %}
        </section>
        
        {% endfor %}


    </div>
</div>


{% include 'footer.html' %}




