{% include 'header.html' %}
        <div style ="margin-top: 100px" class="container">
                <h3>order  ayrıntılar</h3>
                <hr>
                <h4>tarih: {{order.TIME}}</h4>
                <hr>
                <p>{{order.content}}</p>
                <hr>
                {% if order.complate == False %}
                    <p>Durum : Tamamlanmadı</p>
                {% else %}
                    <p>Durum : Tamamlandı</p>
                {% endif %}
        </div>



{% include 'footer.html' %}