{% include 'header.html' %}
<div class="row" align="center">

    <table>
            <thead>
                    <tr>
                      <th scope="col">NUMBER</th>
                      <th scope="col">Market</th>
                      <th scope="col">Durum</th>
                      <th scope="col">Alış Fiyatı</th>
                      <th scope="col">Satış Fiyatı</th>
                      <th scope="col">Tamamla/th>
                      <th scope="col">Sil</th>
                      <th scope="col">Satış Fiyatı</th>
                      <th scope="col">Tamamla/th>
                      <th scope="col">Sil</th>
                    </tr>
                  </thead>
    <tbody>
        {% for order in orders %}
        <tr>
          <th scope="row">{{order.NUMARA +1}}</th>
          <td><a href="/detay/{{order.ORDER_NUMBER}}">{{order.ORDER_NUMBER}}</a></td>
          <td>{{order.TIME}}</td>
          <td>{{order.STATUS}}</td>
          <td>{{order.PRICE}}</td>
          <td>{{order.KAZANC_ORANI}}</td>
          <td>{{order.MARKET}}</td>
          <td>{{order.AMOUNT}}</td>
          <td><a href="/complate/{{order.ORDER_NUMBER}}" class="btn btn-danger">Tamamla</a></td>
          <td><a href="/sil/{{order.ORDER_NUMBER}}" class="btn btn-danger">Sil</a></td>
        </tr>
        {% endfor %}
      </tbody>
      </table>

      								
</div>
{% include 'footer.html' %}



