<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Nested Bootstrap ScrollSpy (3-level)</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  
</head>

<body>

  <!-- Top Navbar -->
<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                BitcoinBot Finansal Durum
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="aktif">Aktif</a></li>
                <li  ><a href="durum">Durum</a></li>
                <li class="active"><a href="tum_emirler">Tüm Emirler</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row" align="center">

    <table>
            <thead>
                    <tr>
                      <th scope="col">NUMBER</th>
                      <th scope="col">Market</th>
                      <th scope="col">Durum</th>
                      <th scope="col">Alış Fiyatı</th>
                      <th scope="col">Satış Fiyatı</th>
                      <th scope="col">Tamamla/th>
                      <th scope="col">Sil</th>
                      <th scope="col">Satış Fiyatı</th>
                      <th scope="col">Tamamla/th>
                      <th scope="col">Sil</th>
                    </tr>
                  </thead>
    <tbody>
        {% for order in orders %}
        <tr>
          <th scope="row">{{order.NUMARA +1}}</th>
          <td><a href="/detay/{{order.ORDER_NUMBER}}">{{order.ORDER_NUMBER}}</a></td>
          <td>{{order.TIME}}</td>
          <td>{{order.STATUS}}</td>
          <td>{{order.PRICE}}</td>
          <td>{{order.KAZANC_ORANI}}</td>
          <td>{{order.MARKET}}</td>
          <td>{{order.AMOUNT}}</td>
          <td><a href="/complate/{{order.ORDER_NUMBER}}" class="btn btn-danger">Tamamla</a></td>
          <td><a href="/sil/{{order.ORDER_NUMBER}}" class="btn btn-danger">Sil</a></td>
        </tr>
        {% endfor %}
      </tbody>
      </table>

      								
</div>
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
  <script  src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>




